/* body{

	margin:0px;
	padding: 0px;
	background-image: url("background.jpg");
	background-size: cover;
	overflow: hidden;
	font-family: system-ui;
} */
.dashboard_container{
  /* border: 2px solid red; */
  width:1530px;
  height:100vh;
	margin:0px;
	padding: 0px;
	/* background-image: url("background.jpg"); */
	background-size: cover;
	/* overflow: hidden; */
	font-family: system-ui;
  display:flex;
  justify-content:center;
  align-items: center;
}

.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 13px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.logo span{
	color: #f81989;
}
.sidenav {
  /* border:2px solid white; */
  height: 100%;
  width: 290px;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272E91;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 13px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.5s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#1b203d;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

b{
  color: black;
  font-size: 59px;
}

#main {
  /* border: 2px solid yellow; */
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}
.head{
	/* padding:20px; */
  margin-bottom: 16px;
}
.col-div-6{
	width: 50%;
	float: left;
}


.profile{
	display: block;
	float: right;
	width: 160px;
	
}
.pro-img{
	float: left;
	width: 150px;
	height: 80px;
	margin-top: 5px;
	
}


.col-div-3{
	width: 25%;
	float: left;
}
.box{
	/* width: 75%; */
	width: 72%;
	height: 100px;
	background-color: #272e91;
  margin-top: 5px;
	margin-left: 4px;
	padding: 0px 10px 10px 10px;
  border-radius: 21px;
}
.box p{
	font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 25px;
	font-weight: 400;
	color: #45ff17;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.col-div-8{
	width: 70%;
	float: left;
}
.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color:white;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #272E91;
	height: 280px;
  border-radius: 20px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
.ighg{
    color: white;
}