@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.container{
    /* border: 2px solid red; */
    width: 100%;
    height:98vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.cake_card{
    /* border:1px solid grey; */
    position: relative;
    width:350px;
    height: 380px;
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    padding:0.4rem; 
    align-items: center;
    background-color: white;
    margin:1rem;
    box-shadow: 0 3px 10px rgb(223, 219, 219);
}

.imgContainer{
    /* border:2px solid blue; */
    width:100%;
    height:78%;
    display: flex;
    justify-content:center;
    align-items: center;
    background:#fff;
    padding:8px;
    border-radius:6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position:relative;
    margin:0 auto;
}
.cardImg{
    /* border:2px solid green; */
    width:100%;
    height:97%;
    border-radius: 15px;
    transition:all 0.1s ease-in-out;
    -webkit-transform: scale(1);
	transform: scale(1);
	 -webkit-transition: .2s ease-in-out;
     
}
.lowerContainer{
    /* border:2px solid red; */
    position: absolute;
    bottom:0;
    width:96%;
    height:20%;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    margin: 0.4rem;
    /* margin-bottom: 0; */
    padding:0.5rem;
    background-color:rgb(250, 246, 246) ;
   
}
.cake_card:hover .lowerContainer{
    height:50%;    
    opacity: 0.9;
}
.cake_card:hover .cardImg{
    -webkit-transform: scale(1.04);
	transform: scale(1.04);
}
.cake_card:hover{
    box-shadow: 0 3px 10px rgba(46, 152, 233, 0.3);
}
.cardName,.cardDescription{
    text-align: center;
    font-weight: 500;
    font-size:1rem;
    font-family: "roboto", sans-serif;
}
.cardName{
    /* border: 2px solid green; */
    font-size:1.1rem;
    margin:0.5rem 0.1rem;
}
.cardDescription{
    font-weight:400;
    margin:0.2rem auto;
}
.cardPrice{
    font-weight: bold;
    font-size:1.2rem;
    /* margin-top: 0.1rem; */
}
.reivewAndBtn{
    display:flex;
    justify-content:space-around;
}
.buyBtn{
    background-color:#4BB543;
    width:100px;
    height:30px;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    border:none !important;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}
.buyBtn:hover{
    background-color:#3ee233;
}

/* media queries */
@media only screen and (max-width:1540px) {  
    .cake_card{
        width:320px;
    }           
    .cardName{
        font-size:1.08rem;
    } 
}