.Navbar {
  /* border: 1px solid grey; */
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: white; */
  box-shadow: 15px ;
  width: 100%;
  z-index: 10;
  box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px,rgba(0,0,0,0.3) 0px 30px 60px -30px; 
  
}

.Navbar > .nav-logo {
   margin-left: 0.5rem;
  
  }
  

.Navbar>.nav-logo>.logo{
  background-image:url("./img/re.jpg"); 
  width:200px;
  height:100px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1% 1% 1% 1%;
}

.Navbar > .nav-items > a {
  /* border:2px solid red; */
  color:black;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
  margin-right:5rem;
  
}

.Navbar > .nav-items > a:hover {
  opacity: 1;
  color:"solid orangered";

}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background:orangered;
  transition: all 0.45s;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
  
}

.Navbar > .nav-toggle {
  display: none;
}



@media (max-width: 700px) {
  .Navbar{
    height:60px;
  }
  .Navbar > .nav-items {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background:white;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all .45s;
    /* position: absolute; */
    /*z-index: 10;*/
  }
  
  .Navbar>.search-input{
    background: #ffff;
    height:80%;
    border-radius: 10px;
    position:relative;
    width:60%;
    margin-left: 1rem;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  .search-input{
    height:100px;
    width:30%;
    outline:none;
    border:none;
    border-radius:10px;
    padding: 0 70px 0 90px;
    font-size: 22px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
    box-sizing:border-box;
  
  }
  input::-webkit-input-placeholder{
    font-size: 20px;
    line-height: 3;
    height: 300px;
    padding: auto;
    width: auto;
  }
  
  
  .search-input.active{
    border-radius: 10px 3px 0 0;
    opacity: 1;
    pointer-events: auto;
  }

  .Navbar>.auto-box:hover{
    background:#efefef;
  }
  .search-input>.icon{
    position:absolute;
    right:0;
    top:0px;
    height:55px;
    width:55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color:#111;
     cursor: pointer;

  }
  .Navbar > .nav-items > a::before {
      background: transparent;
  }

  .Navbar > .nav-items.open {
      transform: translateX(0);
  }

  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background:black;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
      transform: translateX(-40px);
      background: transparent;
  }

  .nav-toggle.open > .bar::before {
      width: 32px;
      transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }

  .logo{ 
    width: 40%;
    height: 100%;
         
  }
  
}


.search-container{
  position:relative;
  width: 15%;
  display: flexbox;
  margin: 0 auto;
  top: -62;
  left: 1;
}

input#search-bar{
  margin: 0 129px auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border-radius: 1px inset grey;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

/* .search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
} */